*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, helvetica neue, Arial, sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
}

#project-3 {
    width: 100%;
    background-color: #2c2c2c;

    .container {
        max-width: 1200px;
        padding: 80px 0 0;
        margin: 0 auto;

        .header {
            width: 70%;
            margin: 0 auto 120px;
            text-align: center;

            .text-muted {
                font-size: .9em;
                font-weight: 700;
                color: #6c757d !important;
            }

            .title {
                font-size: 2.5em;
                font-weight: 700;
                color: #fff;
                padding-top: 35px;
                margin-bottom: 80px;
            }
        }

        .body {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-left: 50px;

            .card-left {
                width: 52%;
                position: relative;
                margin-bottom: 350px;
                img {
                    border-radius: 5px;
                }

                .blockquote {
                    width: 220px;
                    height: 220px;
                    min-height: 180px;
                    padding: 20px;
                    text-align: center;
                    font-size: 1em;
                    font-weight: 300;
                    line-height: 1.8;
                    color: #fff;
                    border: 1px solid hsla(0, 0%, 100%, .2);
                    position: absolute;
                    top: 420px;
                    right: 30%;
                }
            }

            .card-right {
                width: 48%;
                height: 720px;
                padding: 0 12px;
                position: relative;
                top: 80px;
                left: -120px;

                img{
                    border-radius: 5px;
                    margin-bottom: 60px;
                }
                .category{
                    font-size: .9em;
                    font-weight: 700;
                    color: #2ca8ff!important;
                    margin-left: 50px;
                }
                .card-title{
                    font-size: 1.5em;
                    font-weight: 400;
                    line-height: 1.45em;
                    color: #ffffffb7;
                    margin: 10px 0 10px 50px;
                }
                .describe{
                    font-size: 1.2em;
                    font-weight: 300;
                    line-height: 1.6em;
                    color: #ffffffb0;
                    margin-left: 50px;
                }
            }
        }
    }
}
@media (max-width: 770px){
    #project-3{
        .container{
            .body{
                flex-direction: column;
                padding-left: 0;
                .card-left{
                    width: 75%;
                    margin: 0 auto;
                    position: initial;
                    .blockquote{
                        position: initial;
                        margin: 30px auto 0;
                    }
                }
                .card-right{
                    width: 75%;
                    margin: 0 auto;
                    position: initial;
                }
            }
        }
    }
}